@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f8eded;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.container-custom {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container-custom {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .container-custom {
    width: 960px;
  }
  
}
@media (min-width: 1200px) {
  .container-custom {
    width: 1140px;
  }
}


@media (min-width: 1400px) {
  .container-custom {
    width:1320px;
}}
@media (min-width: 1600px) {
  .container-custom {
    width:1550px;
}}

